:host.shell-host {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.shell {
  display: flex;
  flex: 1;
  overflow: hidden;

  &__content {
    flex: 1;
    min-width: 0;
    overflow: hidden;
    position: relative; // makes shell__content the containing block for ion-page absolute positioning
    display: flex;
    flex-direction: column;
  }
}
